<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        1.What is the Kerala Ministry?
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Ans:</strong> <b>The Kerala Ministry</b> refers to the government departments that manage tourism, education, health, transport, finance, and public welfare in Kerala.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        2. What are Kerala backwaters?
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Ans:</strong>Kerala backwaters are a network of lakes, canals, rivers, and lagoons found mainly in Kerala. They are famous for their calm water, natural beauty, and houseboat tourism.
The backwaters connect villages and towns and are used for fishing, transportation, and tourism. Tourists enjoy riding in traditional houseboats while seeing coconut trees, greenery.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        3.Why is Kerala called “God’s Own Country”?
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Ans:</strong> Kerala is called “God’s Own Country” because of its beautiful natural scenery, greenery, backwaters, beaches, forests, and peaceful environment. The phrase is also used to promote Kerala tourism around the world.
      </div>
    </div>
  </div>
</div>


